<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="styles.css">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>PayMyBuddy - Error</title>
</head>

<body>

<nav>
    <div id="navGauche">
        <h1>Pay My Buddy</h1>
    </div>

    <div id="navDroite">
        <ul>
            <a href="/user/home">Home</a>
            <a href="/user/transfer">Transfer</a>
            <a href="/user/profile">Profile</a>
            <a href="/user/contact">Contact</a>
            <a href="/user/logoff">Log off</a>
        </ul>

    </div>
</nav>

<header>
    <div id="header">
        <a href="#" class="pageEnCours">Error /</a>
    </div>
</header>

<main>
    <div>

        <section id="titre1">
            <div>
                <h2 th:text="${message}"></h2>
            </div>

        </section>

    </div>
</main>

</body>

</html>