<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title> Registration / Login </title>
</head>

<body>

<main>

    <section id="logPage">

        <div>
            <h1>Pay My Buddy</h1>
        </div>

        <div th:if="${param.success}">
            <div class="text-alert">
                You have successfully registered our app !
            </div>
        </div>

        <div>
            <button class="blueButton" type="button" onclick=window.location.href="/register">Register</button>
            <button class="blueButton" type="button" onclick=window.location.href="/login">Login</button>
        </div>

    </section>
</main>
</body>
</html>