<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy - Login</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<main>
    <section id="logPage">

        <div>
            <h1>Pay My Buddy</h1>
        </div>

        <div th:if="${param.error}">
            <div class="text-alert">Invalid Email or Password</div>
        </div>

        <div th:if="${param.success}">
            <div class="text-alert">
                You have successfully registered our app !
            </div>
        </div>

        <form
                method="post"
                role="form"
                th:action="@{/login}"
                class="form-horizontal"
        >
            <div class="ligne">
                <label class="formulaire"> Email</label>
                <input
                        type="text"
                        id="username"
                        name="username"
                        class="form-control"
                        placeholder="Enter email address"
                />
            </div>

            <div class="ligne">
                <label class="formulaire"> Password</label>
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter password"
                />
            </div>
            <div>
                <button type="submit" class="blueButton">Submit</button>
            </div>
        </form>
    </section>
</main>
</body>
</html>