<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Profile edition</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>

<body>

<nav>
    <div id="navGauche">
        <h1>Pay My Buddy</h1>
    </div>

    <div id="navDroite">
        <ul>
            <a href="/user/home">Home</a>
            <a href="/user/transfer">Transfer</a>
            <a href="/user/profile" class="pageEnCours">Profile</a>
            <a href="/user/contact">Contact</a>
            <a href="/user/logoff">Log off</a>
        </ul>
    </div>
</nav>

<header>
    <div id="header">
        <a href="user/home" class="pageEnCours">Home /</a>
    </div>
</header>

<main>

    <section id="titre1">
        <div>
            <h2>Edit profile</h2>
        </div>
    </section>

    <section id="profile">

        <form
                method="post"
                role="form"
                th:action="@{/update/save}"
                th:object="${userupdated}"
                >

            <div class="ligne">
                <label class="formulaire">First Name</label>
                <input
                        class="form-control"
                        id="firstname"
                        name="firstname"
                        th:value="${firstname}"/>
           </div>

 <!--           <div class="ligne">
                <label class="formulaire">Last Name</label>
                <input
                        class="form-control"
                        id="lastname"
                        name="lastname"
                        th:value="${lastname}"
                />
            </div>-->

<!--            <div class="ligne">
                <label class="formulaire">Email</label>
                <input
                        class="form-control"
                        id="email"
                        name="email"
                        th:value="${email}"
                        th:field="*{email}"
                />
            </div>

            <div class="ligne">
                <label class="formulaire">Password</label>
                <input
                        class="form-control"
                        id="password"
                        name="password"
                        th:value="${password}"
                />
            </div>-->

            <div>
                <button class="greenButton" type="submit">Save</button>
            </div>
        </form>

    </section>
</main>
</body>
</html>
